.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: Transparent;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container {
  position: relative;
  width: 7%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}
body{
  background-color: white; 
}
h1{
  color: black;
  font-size: 100px;
  text-align: center;
}
body.night h1{
  color: white;
}
body.night{
  background: black;
}
/*----- Accordion -----*/
.accordion{
  position: relative;
  width: 500px;
  height: auto;
  margin: 50px auto;
}
.set{
  position: relative;
  width: 100%;
  height: auto;
  background: white;
}
.set > a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  -webkit-transition : all 0.2s linear;
  -moz-transition : all 0.2s linear;
  transition: all 0.2s linear;
}
.set > a i {
  position: relative;
  float: right;
  margin-top:4px;
  color: #666; 
}
.set > a.active{
  background-color: mediumvioletred;
  color:  #fff;
}
.set > a.active i {
  color: #fff;
}
.content{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: none;
}
.content p{
  padding: 10px 15px;
  margin: 0;
  color:#333;
}